{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
{% set important_links = theme.settings.get('important_links') %}
<header class="store-header">
  {# Top Nav #}
  <div class="top-navbar">
    <div class="container flex justify-between">
      <div class="flex-1 flex items-center gap-2">
          {# Footer Menu #}
          {% if important_links %}
            <salla-menu source="footer" topnav></salla-menu>
          {% endif %}

          {# Language & Currency Component #}
          <div class="header-buttons">
              {% if store.settings.is_multilingual or store.settings.currencies_enabled %}
                  <button type="button" onclick="salla.event.dispatch('localization::open')" class="btn--rounded-gray basis-0">
                      <span class="flag iti__flag iti__{{ user.language.country_code }} rounded-sm"></span>
                      <span class="mx-1.5">|</span> <span>{{ currency.symbol }}</span>
                  </button>
                  <salla-localization-modal></salla-localization-modal>
              {% endif %}
          </div>

          {# Scopes | Branches #}
          {% if store.scope %}
              <button class="btn--rounded-gray"
                      onclick="salla.event.dispatch('scopes::open', {'mode': 'default'})">
                  <i class="sicon-location rtl:ml-1 ltr:mr-1"></i> {{ store.scope.name }}
              </button>
          {% endif %}

          {# Search bar #}
          <div class="header-search flex-1">
            <salla-search inline oval height="36"></salla-search>
          </div>
      </div>

      <salla-contacts is-header></salla-contacts>
    </div>
  </div>

  {# Mini Cart #}

  <aside id="cart-summary-panel" class="side-panel side-panel--wide side-panel--cart side-panel--left flex flex-col">
  <div class="side-panel__top">
    <button class="menu-close"></button>
  </div>
  <div class="side-panel__content">
    <h2 class="mb-8">{{ trans('pages.checkout.cart') }}
      <span class="cart-products-count"></span>
    </h2>
    <div id="cart-summary__items"></div>
  </div>
  <div class="side-panel__bottom flex flex-col gap-5">
    <div class="flex justify-between text-sm">
      <span class="text-gray-500">{{trans('pages.cart.items_total')}}</span>
      <b id="sub-total"></b>
    </div>
    <div class="cart-subtotal flex justify-between items-center border-t border-gray-100 pt-3">
      <div>
        <h5>{{trans('pages.cart.final_total')}}</h5>
        {% if store.settings.tax.taxable_prices_enabled %}
        <small class="opacity-70">
        <span class="text-red-600">*</span>
        {{ trans('pages.products.tax_included')}}</small>
        {% endif %}
      </div>
      <strong data-cart-total class="total-value text-lg"></strong>
    </div>
    <salla-button href="{{link('cart')}}" id="cart-submit" class="cart-submit-btn" width="wide">
      <span class="smticon-cart text-lg"></span>
      <span>{{trans('blocks.header.goToCartPage')}}</span>
    </salla-button>
    <button class="close-side-panel btn btn--link w-full !font-normal !py-2">{{trans('pages.offer.continue_shopping')}}</button>
  </div>
</aside>

  {# ENd #}

  {# Main Nav #}
  <div id="mainnav" class="main-nav-container shadow-default bg-white">
      <div class="inner bg-inherit">
          <div class="container">
              <div class="flex items-stretch justify-between relative">
                  <div class="flex items-center">
                      <a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
                        <i class="sicon-menu text-primary text-2xl"></i>
                      </a>
                      <a class="navbar-brand" href="{{ store.url }}">
                          <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo">
                          {% if is_page('index') %}
                            <h1 class="sr-only">{{ store.name }}</h1>
                          {% else %}
                            <h2 class="sr-only">{{ store.name }}</h2>
                          {% endif %}
                      </a>
                      {% component 'header.menu' %}
                  </div>
                  <div class="flex items-center justify-end">
                      {% if user.type=='user' %}
                        <salla-user-menu avatar-only show-header></salla-user-menu>
                      {% else %}
                          <button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                            <i class="header-btn__icon sicon-user-circle"></i>
                          </button>
                      {% endif %}
                      <salla-cart-summary class="ml-4 rtl:ml-[unset] rtl:mr-4">
                        <i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
                      </salla-cart-summary>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
